<div class="">
    <div class="row">
        <div class="col-sm-10">
            <div class="grid">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 height">
                            <p class="text-center bold">8</p>
                        </div>
                        <div class="col-sm-1 height border" id="17">
                            
                        </div>
                        <div class="col-sm-1 black height border" id="18">
                            
                        </div>
                        <div class="col-sm-1 height border" id="19">
                            
                        </div>
                        <div class="col-sm-1 black height border" id="20">
                            
                        </div>
                        <div class="col-sm-1 height border" id="21">
                            
                        </div>
                        <div class="col-sm-1 black height border" id="22">
                            
                        </div>
                        <div class="col-sm-1 height border" id="23">
                            
                        </div>
                        <div class="col-sm-1 black height border" id="24">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2  height">
                            <p class="text-center bold">7</p>
                        </div>
                        <div class="col-sm-1 black height border" id="25">
                            
                        </div>
                        <div class="col-sm-1 height border" id="26">
                            
                        </div>
                        <div class="col-sm-1 black height border" id="27">
                            
                        </div>
                        <div class="col-sm-1 height border" id="28">
                            
                        </div>
                        <div class="col-sm-1 black height border" id="29">
                            
                        </div>
                        <div class="col-sm-1 height border" id="30">
                            
                        </div>
                        <div class="col-sm-1 black height border" id="31">
                            
                        </div>
                        <div class="col-sm-1 height border" id="32">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 height">
                            <p class="text-center bold">6</p>
                        </div>
                        <div class="col-sm-1 height border">
                            
                        </div>
                        <div class="col-sm-1 black height border">
                            
                        </div>
                        <div class="col-sm-1 height border">
                            
                        </div>
                        <div class="col-sm-1 black height border">
                            
                        </div>
                        <div class="col-sm-1 height border">
                            
                        </div>
                        <div class="col-sm-1 black height border">
                            
                        </div>
                        <div class="col-sm-1 height border">
                            
                        </div>
                        <div class="col-sm-1 black height border">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2  height">
                            <p class="text-center bold">5</p>
                        </div>
                        <div class="col-sm-1 black height border">
                            
                        </div>
                        <div class="col-sm-1 height border">
                            
                        </div>
                        <div class="col-sm-1 black height border">
                            
                        </div>
                        <div class="col-sm-1 height border">
                            
                        </div>
                        <div class="col-sm-1 black height border">
                            
                        </div>
                        <div class="col-sm-1 height border">
                            
                        </div>
                        <div class="col-sm-1 black height border">
                            
                        </div>
                        <div class="col-sm-1 height border">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 height">
                            <p class="text-center bold">4</p>
                        </div>
                        <div class="col-sm-1 height border">
                            
                        </div>
                        <div class="col-sm-1 black height border">
                            
                        </div>
                        <div class="col-sm-1 height border">
                            
                        </div>
                        <div class="col-sm-1 black height border">
                            
                        </div>
                        <div class="col-sm-1 height border">
                            
                        </div>
                        <div class="col-sm-1 black height border">
                            
                        </div>
                        <div class="col-sm-1 height border">
                            
                        </div>
                        <div class="col-sm-1 black height border">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2  height">
                            <p class="text-center bold">3</p>
                        </div>
                        <div class="col-sm-1 black height border">
                            
                        </div>
                        <div class="col-sm-1 height border">
                            
                        </div>
                        <div class="col-sm-1 black height border">
                            
                        </div>
                        <div class="col-sm-1 height border">
                            
                        </div>
                        <div class="col-sm-1 black height border">
                            
                        </div>
                        <div class="col-sm-1 height border">
                            
                        </div>
                        <div class="col-sm-1 black height border">
                            
                        </div>
                        <div class="col-sm-1 height border">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 height">
                        <p class="text-center bold">2</p>
                        </div>
                        <div class="col-sm-1 height border" id="9">
                            
                        </div>
                        <div class="col-sm-1 black height border" id="10">
                            
                        </div>
                        <div class="col-sm-1 height border" id="11">
                            
                        </div>
                        <div class="col-sm-1 black height border" id="12">
                            
                        </div>
                        <div class="col-sm-1 height border" id="13">
                            
                        </div>
                        <div class="col-sm-1 black height border" id="14">
                            
                        </div>
                        <div class="col-sm-1 height border" id="15">
                            
                        </div>
                        <div class="col-sm-1 black height border" id="16">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2  height">
                            <p class="text-center bold">1</p>
                        </div>
                        <div class="col-sm-1 black height border" id="1">
                            
                        </div>
                        <div class="col-sm-1 height border" id="2">
                            
                        </div>
                        <div class="col-sm-1 black height border" id="3">
                            
                        </div>
                        <div class="col-sm-1 height border" id="4">
                            
                        </div>
                        <div class="col-sm-1 black height border" id="5">
                            
                        </div>
                        <div class="col-sm-1 height border" id="6">
                            
                        </div>
                        <div class="col-sm-1 black height border" id="7">
                            
                        </div>
                        <div class="col-sm-1 height border" id="8">
                            
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-1 ">
                            <p class="text-center bold">A</p>
                        </div>
                        <div class="col-sm-1">
                            <p class="text-center bold">B</p>
                        </div>
                        <div class="col-sm-1">
                            <p class="text-center bold">C</p>
                        </div>
                        <div class="col-sm-1">
                            <p class="text-center bold">D</p>
                        </div>
                        <div class="col-sm-1">
                            <p class="text-center bold">E</p>
                        </div>
                        <div class="col-sm-1">
                            <p class="text-center bold">F</p>
                        </div>
                        <div class="col-sm-1">
                            <p class="text-center bold">G</p>
                        </div>
                        <div class="col-sm-1">
                            <p class="text-center bold">H</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="computerPlayer">
                <p class="texto">Computador</p>
                <div id="computerLives">
                    <i class="fas fa-heart fa" style="color: rgb(192, 23, 23)"></i>
                    <i class="fas fa-heart fa" style="color: rgb(192, 23, 23)"></i>
                    <i class="fas fa-heart fa" style="color: rgb(192, 23, 23)"></i>
                    <i class="fas fa-heart fa" style="color: rgb(192, 23, 23)"></i>
                    <i class="fas fa-heart fa" style="color: rgb(192, 23, 23)"></i>
                    <i class="fas fa-heart fa" style="color: rgb(192, 23, 23)"></i>
                </div>
                
                <div id="computerPieces">

                </div>
                <div id="computerPlay" class="computerPlay">
                    
                </div>
            </div>
            <div id="playerPoints">
                <div id="humanPieces" class="playerPoints">
                    
                </div>
                <div id="shoot-container">
                    <input type="text" id="shoot">
                    <button class="btn btn-success" style="font-size: 0.5em;"><a onclick="humanShot()">ATIRAR</a></button>
                </div>
                <p class="texto playerPoints">Você</p>
                <div id="humanLives" class="playerPoints">
                    <i class="fas fa-heart fa" style="color: rgb(192, 23, 23)"></i>
                    <i class="fas fa-heart fa" style="color: rgb(192, 23, 23)"></i>
                    <i class="fas fa-heart fa" style="color: rgb(192, 23, 23)"></i>
                    <i class="fas fa-heart fa" style="color: rgb(192, 23, 23)"></i>
                    <i class="fas fa-heart fa" style="color: rgb(192, 23, 23)"></i>
                    <i class="fas fa-heart fa" style="color: rgb(192, 23, 23)"></i>
                </div>
            </div>    
        </div>
    </div>
</div>

<style>


    .bold{
        font-weight: 600;
        font-size: 2rem;
        margin-top: 1rem;
    }

    .margin-top-2{
        margin-top: 2rem;
    }

    .max-width{
        max-width: 100%;
        max-height: 100%;
    }

    #computerPlay{
        border: solid rgb(192, 23, 23) 2px;
        margin-top: 1rem;
    }

    .grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 100%;
    }

    .black{
        background-color: black;
    }
    #humanPieces{
        margin-top: 30vh;
    }

    .texto{
        font-size: 1.3rem;
        margin-top: 1rem;
        font-family: 'Yomogi', cursive;
    }

    .computerPlay{
        margin-bottom: 0;
    }

    .jogada{
        font-size: 1.5em;
        text-align: center;
        position: relative;
        vertical-align: middle;
        padding: 0.5em;
    }

    .computerPlayer{
        left: -200px;
        position: relative;
    }

    .playerPoints{
        left: -200px;
        position: relative;
    }

    #computerLives{
        display: flex;
    }

    #humanLives{
        display: flex;
    }

    #shoot-container{
        left: -200px;
        position: relative;
    }

    #shoot{
        font-size: 2em;
        height: 1em;
        width: 2em;
        margin-bottom: 0.5em;
    }

    .col-sm-1{
        padding: 0 !important;
    }

</style>

<script>
    const whitesArr = [
    '<%-root%>/public/img/bispobranco.png',
    '<%-root%>/public/img/bispobranco.png',
    '<%-root%>/public/img/cavalobranco.png',
    '<%-root%>/public/img/cavalobranco.png',
    '<%-root%>/public/img/rainhabranca.png',
    '<%-root%>/public/img/reibranco.png',
    '<%-root%>/public/img/torrebranca.png',
    '<%-root%>/public/img/torrebranca.png',
    '<%-root%>/public/img/peaobranco.png',
    '<%-root%>/public/img/peaobranco.png',
    '<%-root%>/public/img/peaobranco.png',
    '<%-root%>/public/img/peaobranco.png',
    '<%-root%>/public/img/peaobranco.png',
    '<%-root%>/public/img/peaobranco.png',
    '<%-root%>/public/img/peaobranco.png',
    '<%-root%>/public/img/peaobranco.png',
]

const blacksArr = [
    '<%-root%>/public/img/bispopreto.png',
    '<%-root%>/public/img/bispopreto.png',
    '<%-root%>/public/img/cavalopreto.png',
    '<%-root%>/public/img/cavalopreto.png',
    '<%-root%>/public/img/rainhapreta.png',
    '<%-root%>/public/img/reipreto.png',
    '<%-root%>/public/img/torrepreta.png',
    '<%-root%>/public/img/torrepreta.png',
    '<%-root%>/public/img/peaopreto.png',
    '<%-root%>/public/img/peaopreto.png',
    '<%-root%>/public/img/peaopreto.png',
    '<%-root%>/public/img/peaopreto.png',
    '<%-root%>/public/img/peaopreto.png',
    '<%-root%>/public/img/peaopreto.png',
    '<%-root%>/public/img/peaopreto.png',
    '<%-root%>/public/img/peaopreto.png',
]

const a1 = document.getElementById("1");
const b1 = document.getElementById("2");
const c1 = document.getElementById("3");
const d1 = document.getElementById('4');
const e1 = document.getElementById("5");
const f1 = document.getElementById("6");
const g1 = document.getElementById("7");
const h1 = document.getElementById("8");
const a2 = document.getElementById("9");
const b2 = document.getElementById("10");
const c2 = document.getElementById("11");
const d2 = document.getElementById("12");
const e2 = document.getElementById("13");
const f2 = document.getElementById("14");
const g2 = document.getElementById("15");
const h2 = document.getElementById("16");

const a7 = document.getElementById("17");
const b7 = document.getElementById("18");
const c7 = document.getElementById("19");
const d7 = document.getElementById('20');
const e7 = document.getElementById("21");
const f7 = document.getElementById("22");
const g7 = document.getElementById("23");
const h7 = document.getElementById("24");
const a8 = document.getElementById("25");
const b8 = document.getElementById("26");
const c8 = document.getElementById("27");
const d8 = document.getElementById("28");
const e8 = document.getElementById("29");
const f8 = document.getElementById("30");
const g8 = document.getElementById("31");
const h8 = document.getElementById("32");

const whitesBoard = [a1, b1, c1, d1, e1, f1, g1, h1, a2, b2, c2, d2, e2, f2, g2, h2];
const blacksBoard = [a7, b7, c7, d7, e7, f7, g7, h7, a8, b8, c8, d8, e8, f8, g8, h8];

let shot = document.querySelector("#shoot");
let whitesShuffled = [];
let blacksShuffled = [];

function shuffle(array) {
    let m = array.length, t, i;
    while (m) {
        i = Math.floor(Math.random() * m--);
        t = array[m];
        array[m] = array[i];
        array[i] = t;
    }
    return array;
}

const createHumanBoard = () => {
    whitesShuffled = shuffle(whitesArr);
    for (let i = 0; i < whitesBoard.length; i++) {
        let img1 = document.createElement("img");
        img1.setAttribute("src", `${whitesShuffled[i]}`);
        whitesBoard[i].appendChild(img1);
        img1.style.maxWidth = "100%";
        img1.style.height = "100%";
    }
}

const createComputerBoard = () => {
    blacksShuffled = shuffle(blacksArr);
    for (let i = 0; i < blacksBoard.length; i++) {
        let img1 = document.createElement("img");
        img1.setAttribute("src", "<%-root%>/public/img/verso.png");
        blacksBoard[i].appendChild(img1);
        img1.style.maxWidth = "100%";
        img1.style.height = "100%";
    }
}

createHumanBoard();
createComputerBoard();

let i = 0;
let humanPlaying = true;

const isHumanPlaying = () => {
    if (humanPlaying == false) {
        computerShot();
    }
}

let shotsFiredByComputer = [];

const computerShot = () => {
    let compShot;
    do {
        compShot = Math.round(Math.random() * 15);
    } while (shotsFiredByComputer.includes(compShot))
    shotsFiredByComputer.push(compShot);
    i = compShot;
    console.log(compShot)
    computerPlay(i);
    setTimeout(() => shoot(i), 1000)
}

let computerMove = document.querySelector("#computerPlay");

const computerPlay = (i) => {
    let letter; let number;
    if(i <= 7){
        number = 1;
    }else{
        number = 2;
        i = i - 8;
    }
        switch(i){
            case 0:
            letter = 'A'
            break;
            case 1:
            letter = 'B'
            break;
            case 2:
            letter = 'C'
            break;
            case 3:
            letter = 'D'
            break;
            case 4:
            letter = 'E'
            break;
            case 5:
            letter = 'F'
            break;
            case 6:
            letter = 'G'
            break;
            case 7:
            letter = 'H'
            break;
        }
        computerMove.innerHTML = `<p class="jogada">${letter+number}</p>`;
}

function humanShot() {
    if (humanPlaying) {
        let numShot = shot.value.split('');
        switch (numShot[0]) {
            case 'a':
            case 'A': i = 0
                break;
            case 'b': case 'B': i = 1
                break;
            case 'c': case 'C': i = 2
                break;
            case 'd': case 'D': i = 3
                break;
            case 'e': case 'E': i = 4
                break;
            case 'f': case 'F': i = 5
                break;
            case 'g': case 'G': i = 6
                break;
            case 'h': case 'H': i = 7
                break;
        }
        
        if (numShot[1] == 7) {
            i = i + 8;
        } else if (numShot[1] < 7) {
            console.log("Escolha um número válido")
            return;
        }
        shoot(i);
    }
}

let cardsWonByHuman = [];
let cardsWonByComputer = [];
let humanLife = 6;
let computerLife = 6;

const shoot = (i) => {
    if (humanPlaying) {
        let img1 = document.createElement("img");
        img1.setAttribute("src", `${blacksShuffled[i]}`);
        blacksBoard[i].innerHTML = "";
        blacksBoard[i].appendChild(img1);
        img1.style.height = "100%";
        img1.style.maxWidth = "100%";
        if (!cardsWonByHuman.includes(blacksShuffled[i])) {
            cardsWonByHuman.push(blacksShuffled[i]);
            computerLife--;
            loseLife(computerLife);
            if(computerLife <= 0){
                endGame();
            }
            addIcon(blacksShuffled[i]);
        }
    } else {
        if (!cardsWonByComputer.includes(whitesShuffled[i])) {
            cardsWonByComputer.push(whitesShuffled[i]);
            humanLife--;
            loseLife(humanLife);
            if(humanLife <= 0){
                endGame();
            }
            addIcon(whitesShuffled[i]);
        }
        whitesBoard[i].style.backgroundColor = "rgb(192, 23, 23)";
    }
    humanPlaying = !humanPlaying;
    isHumanPlaying();
}

const compPoints = document.querySelector("#computerLives");
const humanPoints = document.querySelector("#humanLives");

const loseLife = (numLifes) => {
    if(numLifes>=0){
       if(humanPlaying){
        compPoints.innerHTML = '';
            for(let i = 0; i< numLifes; i++){
                compPoints.insertAdjacentHTML('afterbegin','<i class="fas fa-heart fa" style="color: rgb(192, 23, 23)"></i>');
            }
        }else{
            humanPoints.innerHTML = '';
            for(let j = 0; j< numLifes; j++){
                humanPoints.insertAdjacentHTML('afterbegin','<i class="fas fa-heart fa" style="color: rgb(192, 23, 23)"></i>');
            }
        } 
    }   
}

let humanPieces = document.querySelector("#humanPieces");
let computerPieces = document.querySelector("#computerPieces");

const addIcon = (img) => {
   let icon;
   if(img == "<%-root%>/public/img/bispobranco.png" || img == "<%-root%>/public/img/bispopreto.png"){
        icon = '<i class="fas fa-chess-bishop fa"></i>';
   }else if(img == "<%-root%>/public/img/cavalobranco.png" || img == "<%-root%>/public/img/cavalopreto.png"){
        icon = '<i class="fas fa-chess-knight fa"></i>';
    }else if(img == "<%-root%>/public/img/peaobranco.png" || img == "<%-root%>/public/img/peaopreto.png"){
        icon = '<i class="fas fa-chess-pawn fa"></i>';
    }else if(img == "<%-root%>/public/img/rainhabranca.png" || img == "<%-root%>/public/img/rainhapreta.png"){
        icon = '<i class="fas fa-chess-queen fa"></i>';
    }else if(img == "<%-root%>/public/img/reibranco.png" || img == "<%-root%>/public/img/reipreto.png"){
        icon = '<i class="fas fa-chess-king fa"></i>';
    }else if(img == "<%-root%>/public/img/torrebranca.png" || img == "<%-root%>/public/img/torrepreta.png"){
        icon = '<i class="fas fa-chess-rook fa"></i>';
    }
    if(!humanPlaying){
        humanPieces.insertAdjacentHTML('afterbegin',icon);
    }else{
        computerPieces.insertAdjacentHTML('afterbegin', icon);
    }
}

const endGame = () => {
    humanPlaying = null;    
    Swal.fire({
        imageWidth: '130px',
        width: 1000,
        title: 'FIM DE JOGO!',
        padding: '1em',
        background: 'whitesmoke',
        showCloseButton: false,
        allowOutsideClick: false,
        showCancelButton: true,
        confirmButtonText: 'Jogar de novo',
        confirmButtonColor: 'gray',
        cancelButtonText: 'PRÓXIMO',
        cancelButtonColor: 'green',
        imageUrl: 'https://class.portalsistemax.com.br/conteudo/o-jogo-de-xadrez/001/img/icone5.png',
        backdrop: `
            rgba(0,0,123,0.1)
        `
        }).then((result) => {
            if(result.isConfirmed){
                document.location.reload(true);
            }else{
                Swal.fire({
                    icon: 'success', 
                    width: 1000,
                    title: 'PARABÉNS',
                    html: "Você terminou a unidade 1!",
                    padding: '1em',
                    background: 'whitesmoke',
                    showCloseButton: false,
                    allowOutsideClick: false,
                    confirmButtonText: '<i class="fas fa-check fa"></i>',
                    confirmButtonColor: 'green',
                    backdrop: `
                        rgba(0,0,123,0.1)
                    `
                    }).then((result) => {
                        if(result.isConfirmed){
                            window.close();
                        }
                    })
            }
        })
}
</script>