<div class="row p-3">
    <div class="col-sm-2 p-2">
        <img class="img-pecas" src="<%-staticRoot%>/img/torre.png"/>
        <img class="img-pecas mt-2" src="<%-staticRoot%>/img/peca1.png"/>
        <p class="text-center mt-2 font-cursive">Torre</p>
    </div>
    <div class="col-sm-2 p-2">
        <img class="img-pecas" src="<%-staticRoot%>/img/bispo.png"/>
        <img class="img-pecas mt-2" src="<%-staticRoot%>/img/peca5.png"/>
        <p class="text-center mt-2 font-cursive">Bispo</p>
    </div>
    <div class="col-sm-2 p-2">
        <img class="img-pecas" src="<%-staticRoot%>/img/cavalo.png"/>
        <img class="img-pecas mt-2" src="<%-staticRoot%>/img/peca3.png"/>
        <p class="text-center mt-2 font-cursive">Cavalo</p>
    </div>
    <div class="col-sm-2 p-2">
        <img class="img-pecas" src="<%-staticRoot%>/img/peao.png"/>
        <img class="img-pecas mt-2" src="<%-staticRoot%>/img/peca6.png"/>
        <p class="text-center mt-2 font-cursive">Peão</p>
    </div>
    <div class="col-sm-2 p-2">
        <img class="img-pecas" src="<%-staticRoot%>/img/rei.png"/>
        <img class="img-pecas mt-2" src="<%-staticRoot%>/img/peca2.png"/>
        <p class="text-center mt-2 font-cursive">Rei</p>
    </div>
    <div class="col-sm-2 p-2">
        <img class="img-pecas" src="<%-staticRoot%>/img/dama.png"/>
        <img class="img-pecas mt-2" src="<%-staticRoot%>/img/peca4.png"/>
        <p class="text-center mt-2 font-cursive">Dama</p>
    </div>
</div>

<style>
    .img-pecas{
        max-width: 5em;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .font-cursive{
        font-family: 'Yomogi', cursive;
    }
</style>
<script>
$(() => { 
    $('#proximo').attr('disabled', false)
    $("#proximo").on("click", function(){
    if (JsonWebApi.active)
        return;

    let aprovado = 1, nota = 10;
    let idturma = <%-lista.id%>;
    let idatividade = <%-atividade%>;

    Swal.wait();

    JsonWebApi.post("<%- root %>/api/atividade/registrarTentativa", {
        idturma,
        idatividade,
        nota,
        aprovado
    }, function (response) {
        if (response.success) {
            Swal.success("Atividade concluída com sucesso! " + emoji.happy);
        } else {
            Swal.error(response.value + " " + emoji.sad);
        }
    });
})})
</script>