<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("cabecalho") %>

	<%- defineContent("styles") %>
</head>
<body>
    <div id="wrapper">

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content" class="bg">

                <div class="container-fluid mt-4 mb-2">
                
					<%- body %>

				</div>
            </div>
        </div>
    </div>
    <%- include("rodape") %>

	<%- defineContent("scripts") %>
</body>
</html>