<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label for="nome">Nome</label>
			<input id="nome" name="nome" class="form-control" type="text" maxlength="100" value="<%=(item ? item.nome : "") %>" />
		</div>
	</div>

	<div class="col-sm-6">
		<div class="form-group">
			<label for="url">URL</label>
			<input id="url" name="url" class="form-control" type="text" maxlength="100" value="<%=(item ? item.url : "") %>" />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<div class="form-group">
			<label for="idlivro">Livro</label>
			<select id="idlivro" name="idlivro" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < livros.length; i++) { %>
				<option value="<%= livros[i].id %>" <%-((item && item.idlivro === livros[i].id) ? 'selected="selected"' : '') %>><%= livros[i].nome %></option>
				<% } %>
			</select> 
		</div>
	</div>

	<div class="col-sm-4">
		<div class="form-group">
			<label for="capitulo">Capítulo</label>
			<input id="capitulo" name="capitulo" class="form-control" type="number" min="1" max="999" value="<%=(item ? item.capitulo : "") %>" />
		</div>
	</div>

	<div class="col-sm-4">
		<div class="form-group">
			<label for="idsecao">Seção</label>
			<select id="idsecao" name="idsecao" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < secoes.length; i++) { %>
				<option value="<%= secoes[i].id %>" <%-((item && item.idsecao === secoes[i].id) ? 'selected="selected"' : '') %>><%= secoes[i].nome %></option>
				<% } %>
			</select> 
		</div>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			nome: {
				required: true
			},
			url: {
				required: true
			},
			idlivro: {
				required: true
			},
			capitulo: {
				required: true
			},
			idsecao: {
				required: true
			},
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Swal.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/atividade/editar", form, function (response) {
				if (response.success)
					Swal.success("Atividade alterada com sucesso! " + emoji.happy);
				else
					Swal.error(response.value + " " + emoji.sad);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/atividade/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Swal.success("Atividade criada com sucesso! " + emoji.happy);
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
