<%
	let cores = [
		"primary",
		"success",
		"info",
		"warning",
		"secondary",
		"danger",
		"dark"
	];
%>
<div class="row">

	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
							Total de turmas</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">
							<%-lista.qtdeturmas%>
						</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-calendar fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
							Total de alunos</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">
							<%-lista.qtdealunos%>
							</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-users fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-info shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Atividades liberadas
						</div>
						<div class="row no-gutters align-items-center">
							<div class="col-auto">
								<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
									<%	let perc = 0;
										for(let i = 0; i < lista.qtdeturmas; i++){
											perc += lista.situacao[i].percliberadas
										}
										perc = Math.round(perc/lista.qtdeturmas)
									%>
									<%-perc%>%
								</div>
							</div>
							<div class="col">
								<div class="progress progress-sm mr-2">
									<div class="progress-bar bg-info" role="progressbar"
										style="width: <%-perc%>%" aria-valuenow="<%-perc%>" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-warning shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
							Mensagens</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-comments fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-xl-8 col-lg-8">
		<div class="card shadow mb-4">
			<div
				class="card-header d-flex flex-row align-items-center justify-content-between">
				Aprovações por turma
			</div>
			<div class="card-body">
				<div class="chart-area">
					<canvas id="myBarChart"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 mb-4">

		<div class="card shadow mb-4">
			<div class="card-header">
				Atividades liberadas
			</div>
			<div class="card-body">
				<%for(let i = 0; i < lista.qtdeturmas; i++){%>
					<h4 class="small font-weight-bold"><%-lista.situacao[i].nome%>
					<span class="float-right"><%-lista.situacao[i].percliberadas%>%</span></h4>
					<div class="progress mb-4">
						<div class="progress-bar bg-<%-cores[i]%>" role="progressbar" style="width: <%-lista.situacao[i].percliberadas%>%"
							aria-valuenow="<%-lista.situacao[i].percliberadas%>" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				<%}%>
			</div>
		</div>

<%- contentFor("scripts") %>

<script src="<%- staticRoot %>/lib/chart.js/chart.min.js"></script>
<script>
var ctx = document.getElementById("myBarChart");

let turmas = [];
let liberadas = [];
let aprovadas = [];

	//<%for(let j = 0; j < lista.qtdeturmas; j++){%>
	turmas.push("<%=lista.situacao[j].nome%>")
	liberadas.push("<%=lista.situacao[j].percliberadas%>")
	aprovadas.push("<%=lista.situacao[j].percaprovadas%>")
	//<%}%>

var myBarChart = new Chart(ctx, {
	type: 'bar',
	data: {
		labels: turmas,
		datasets: [{
			label: "Liberadas",
			backgroundColor: "#4e73df",
			hoverBackgroundColor: "#2e59d9",
			borderColor: "#4e73df",
			data: liberadas,
		},
		{
			label: "Aprovadas",
			backgroundColor: "#E27B3A",
			hoverBackgroundColor: "#E27B3A",
			borderColor: "#4e73df",
			data: aprovadas,
		}],
	},
	options: {
		maintainAspectRatio: false,
		layout: {
			padding: {
				left: 10,
				right: 25,
				top: 25,
				bottom: 0
			}
		},
		scales: {
			x: {
				gridLines: {
					display: false,
					drawBorder: false
				},
				ticks: {
					maxTicksLimit: 6
				},
				maxBarThickness: 25,
			},
			y: {
				ticks: {
					min: 0,
					max: 15000,
					maxTicksLimit: 5,
					padding: 10
				},
				gridLines: {
					color: "rgb(234, 236, 244)",
					zeroLineColor: "rgb(234, 236, 244)",
					drawBorder: false,
					borderDash: [2],
					zeroLineBorderDash: [2]
				}
			},
		},
		legend: {
			display: false
		},
		tooltips: {
			titleMarginBottom: 10,
			titleFontColor: '#6e707e',
			titleFontSize: 14,
			backgroundColor: "rgb(255,255,255)",
			bodyFontColor: "#858796",
			borderColor: '#dddfeb',
			borderWidth: 1,
			xPadding: 15,
			yPadding: 15,
			displayColors: false,
			caretPadding: 10,
			callbacks: {
				label: function(tooltipItem, chart) {
					var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
					return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
				}
			}
		},
	}
});

</script>
