<div class="text-center">

    <div style="text-align: left; margin-top: 1em;">
        <a class="" href="/notas"><i class="fas fa-arrow-left fa-2x"></i></a>
    </div>

    <div class="container-fluid mt-5 mb-5" style="padding: 0 2em 0 2em;">
        <div class="progress" style="background-color: #e3d4c5;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="<%- lista.percrealizadastotal %> " aria-valuemin="0" aria-valuemax="100" style="width:<%- lista.percrealizadastotal %>%">
            <%= lista.percrealizadastotal %>%
            </div>
        </div>
    </div>

    <%- include("caminho") %>

</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";
    let liberadas = []

    <% for(let i = 0; i<lista.qtdeliberadas; i++){ %>

        liberadas.push(<%-atividades[i].capitulo%>);   

    <%}%>

    for(let i of liberadas){
        document.getElementById(`cadeado-fechado-${i}`).style.display = "none";
    }

    <%if(lista.idlivro == 2){%> //melhorar isso
        let total = Array.from({length: 5}, (_, i) => i + 1)
    <%} else if(lista.idlivro == 1){%>
        let total = Array.from({length: 6}, (_, i) => i + 1)
    <%}%>


    for(let i of total){
        if(liberadas.indexOf(i) == -1){
            document.getElementById(`img-${i}`).style.opacity = "0.4";
        }
        if(liberadas.indexOf(total[total.length - 1]) == -1){
            document.getElementById(`img-${total.length + 1}`).style.opacity = "0.4";
        }
    }

</script>