<div class="row" style="padding-top: 3.5rem;">
    <div class="col-sm-4">
        <a href="<%- staticRoot %>/atividade/">
        <img src="<%- staticRoot %>/img/5.png" alt="" style="max-width:100%;"/>
        </a>
        <a class="text-center mt-2 texto-mapa" href="/atividade/aula?id=3" style="display: block;">Casos de empate</a>
    </div>
    <div class="col-sm-4">
        <img src="<%- staticRoot %>/img/2.png" alt="" style="max-width:100%;"/>
        <a class="text-center mt-2 texto-mapa" href="<%- staticRoot %>/atividade/aula?id=3" style="display: block;">Padrões de xeque-mate</a>
    </div>
    <div class="col-sm-4">
        <img src="<%- staticRoot %>/img/6.png" alt="" style="max-width:100%;"/>
        <a class="text-center mt-2 texto-mapa" href="<%- staticRoot %>/atividade/aula?id=3" style="display: block;">Xeque-mates elementares</a>
    </div>
</div>
<div class="row" style="margin-top: 15rem;
padding-bottom: 9rem;">
    <div class="col-sm-4">
        <img src="<%- staticRoot %>/img/1.png" alt="" style="max-width:100%;"/>
        <a class="text-center mt-2 texto-mapa" href="<%- staticRoot %>/atividade/aula?id=3" style="display: block;">As trocas</a>
    </div>
    <div class="col-sm-4">
        <img src="<%- staticRoot %>/img/7.png" alt="" style="max-width:100%;"/>
        <a class="text-center mt-2 texto-mapa" href="<%- staticRoot %>/atividade/aula?id=3" style="display: block;">Movimentos Especiais</a>
    </div>
    <div class="col-sm-4">
        <img src="<%- staticRoot %>/img/4.png" alt="" style="max-width:100%;"/>
        <a class="text-center mt-2 texto-mapa" href="<%- staticRoot %>/atividade/aula?id=3" style="display: block;">Xeque e Xeque-mate</a>
    </div>
</div>