<div class="text-center">

    <div style="text-align: left; margin-top: 1em;">
        <a class="" href="/notas"><i class="fas fa-arrow-left fa-2x"></i></a>
    </div>

    <div class="container-fluid mt-5 mb-5" style="padding: 0 2em 0 2em;">
        <div class="progress" style="background-color: #e3d4c5;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="<%- parseInt(lista.percaprovadas) || 0 %> " aria-valuemin="0" aria-valuemax="100" style="width:<%- parseInt(lista.percaprovadas) || 0%>%">
            <%= lista.percaprovadas %>%
            </div>
        </div>
    </div>

    <%if(lista.capitulos == 6){%>
    <%- include("caminho") %>
    <%}%>
    <%if(lista.capitulos == 5){%>
    <%- include("caminho-2") %>
    <%}%>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

    let liberadas = <%- JSON.stringify(liberadas) %>;
    let capitulosComAtividadesLiberadas = new Set();

    function liberarCadeados() {
        for (let liberada of liberadas) {
            document.getElementById(`cadeado-fechado-${liberada.capitulo}`).style.display = "none";
            capitulosComAtividadesLiberadas.add(liberada.capitulo);
        }
    }

    liberarCadeados();

    let situacao = <%- JSON.stringify(lista) %>;

    function estrelaEopacidade(){
        for (let i = 0; i < situacao.capitulos; i++) {
            const capitulo = i + 1;

            if (!capitulosComAtividadesLiberadas.has(capitulo)) {
                document.getElementById(`img-${capitulo}`).style.opacity = "0.25";
            } else {
                document.getElementById(`img-${capitulo}`).style.cursor = "pointer";
                document.getElementById(`img-${capitulo}`).setAttribute('onclick',`link(${capitulo});`);
            }

            if (i < situacao.detalhes.length) {
                // Verifica a aprovação para mostrar ou ocultar a estrela
                if (situacao.detalhes[i].aprovadas < situacao.detalhes[i].atividades) {
                    document.getElementById(`estrela-${capitulo}`).style.display = "none";
                }
            } else {
                // i é um capítulo que não foi nem feito/liberado ainda
                document.getElementById(`estrela-${capitulo}`).style.display = "none";
            }
        }
        
        if (situacao.capitulos < 6) {
            // @@@ ocultar o último trecho
        }
    }
    estrelaEopacidade();

    function link(id){
        window.location.href = `<%-root%>/capitulo/atividade/${id}/<%-lista.idlivro%>`;
    }
</script>
