<%
let cores = [
	"primary",
	"success",
	"info",
	"warning",
	"secondary",
	"danger",
	"dark"
];
%>

<div class="row">
	<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="form-group">
			<h3><label for="anoMatricula" class="mb-0">Matrícula</label></h3>
			<select class="form-control" id="anoMatricula" onchange="Swal.wait(); window.location.href = '<%- root %>/notas?ano=' + $('#anoMatricula').val();">
<%
	for (let i = 0; i < anos.length; i++) {
%>
				<option value="<%- anos[i] %>" <%- ((ano === anos[i]) ? 'selected="selected"' : '') %>><%- anos[i] %></option>
<%
	}
%>
			</select>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
							Total de atividades</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">
							<%-situacao.qtdeatividades%>
						</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-calendar fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
							Atividades liberadas</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">
							<%-situacao.qtdeliberadas%>
							</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-users fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-secondary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
							Atividades aprovadas</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">
							<%-situacao.aprovadas%>
						</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-users fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-warning shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
							Faltantes</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800"><%-situacao.faltantes%></div>
					</div>
					<div class="col-auto">
						<i class="fas fa-comments fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="tabelas"></div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";
	let notas = <%- JSON.stringify(notas) %>;

	function preparar() {
		const notasPorCapitulo = new Map()

		for (let i = 0; i < notas.length; i++) {
			const nota = notas[i];
			let listaNotas = notasPorCapitulo.get(nota.capitulo);
			if (!listaNotas) {
				listaNotas = [];
				notasPorCapitulo.set(nota.capitulo, listaNotas);
			}
			listaNotas.push(nota);
		}

		const notasPorCapituloOrdenados = [];
		for (let e of notasPorCapitulo.entries()) {
			// e = array [0] = chave (capitulo) / [1] = valor (array de notas)
			notasPorCapituloOrdenados.push(e);
		}

		notasPorCapituloOrdenados.sort((a, b) => a[0] - b[0]);

		let html = '';
		let aberto = false;

		for(let i = 0; i<notasPorCapituloOrdenados.length; i++){
			const item = notasPorCapituloOrdenados[i];
			const capitulo = item[0];

			if(i%2 == 0){
				if (aberto)
					html += '</div>';
				aberto = true;
				html += '<div class="row">';
			}
			html += `
			<div class="col-sm-6">
				<div class="card shadow mb-4">
					<div class="card-header">
						Atividades - Capítulo ${capitulo}
					</div>
					<div class="card-body px-0">
					<table class="table table-flush table-striped table-hover" id="tabela${capitulo}"></table>
					</div>
				</div>
			</div>
			`;
		}

		if (aberto)
			html += '</div>';

		document.getElementById("tabelas").innerHTML = html;

		for(let i = 0; i<notasPorCapituloOrdenados.length; i++){
			const item = notasPorCapituloOrdenados[i];
			const capitulo = item[0];
			const notas = item[1];

			prepareDataTable("tabela" + capitulo, {
				order: [[1, "asc"]],
				deferRender: true,
				columns: [
					{ title: "Atividade", render: encode, data: "atividade" },
					{ title: "Seção", data: "idsecao" },
					{ title: "Aprovado", render: encode, data: function (row) { return row.aprovado ? "Sim" : "Não"; }},
					{ title: "Conclusão", "class": "col-min text-right", "type": "customdatetimeint", data: "conclusao" }
				],
				data: notas,
				export: { xlsx: true, title: "Atividades - Capítulo " + capitulo }
			});
		}
	}

	preparar();

</script>
