<%
	let cores = [
		"primary",
		"secondary",
		"success",
		"info",
		"warning",
		"danger",
		"dark"
	];
%>

<% if (!atividades.length) { %>
<p class="text-center">Você ainda não tem atividades atribuídas. 😢</p>
<% } else { %>

<div class="row">

<% for (let i = 0; i < atividades.length; i++) { const cor = cores[i % 7], turma = atividades[i]; %>

<div class="col-xl-4 col-md-6 mb-4">
	<div class="card border-left-<%- cor %> shadow h-100 py-2">
		<div class="card-body">
			<div class="row no-gutters align-items-center">
				<div class="col mr-2">
					<div class="h5 mb-0 font-weight-bold text-gray-800">Capítulo <%= atividades[i].capitulo %></div>
					<div class="text-xs font-weight-bold text-<%- cor %> text-uppercase mb-1"><%= atividades[i].nome %></div>
				</div>
				<div class="col-auto">
					<i class="fas fa-book fa-2x text-gray-300"></i>
				</div>
			</div>

			<hr />

			<button type="button" id="liberar<%- atividades[i].id %>" onclick="liberar(<%- atividades[i].id %>)" class="btn btn-sm btn-outline-<%- cor %> <%- (atividades[i].idliberacao ? 'hidden' : '') %>">Liberar Atividade</button>

			<button type="button" id="bloquear<%- atividades[i].id %>" onclick="bloquear(<%- atividades[i].id %>)" class="btn btn-sm btn-outline-<%- cor %> <%- (atividades[i].idliberacao ? '' : 'hidden') %>">Bloquear Atividade</button>
		</div>
	</div>
</div>

<% } %>

</div>

<% } %>

<%- contentFor("scripts") %>

<script>
	let idturma = parseInt("<%- idturma %>");

	function liberar(idatividade) {
		if (JsonWebApi.active)
			return;

		Swal.wait();

		JsonWebApi.post("<%- root %>/api/atividade/liberar", {
			idatividade,
			idturma
		}, function (response) {
			if (response.success) {
				Swal.success("Atividade liberada com sucesso! " + emoji.happy);

				document.getElementById("liberar" + idatividade).classList.add("hidden");
				document.getElementById("bloquear" + idatividade).classList.remove("hidden");
			} else {
				Swal.error(response.value + " " + emoji.sad);
			}
		});
	}

	function bloquear(idatividade) {
		if (JsonWebApi.active)
			return;

		Swal.wait();

		JsonWebApi.delete("<%- root %>/api/atividade/bloquear", function (response) {
			if (response.success) {
				Swal.success("Atividade bloqueada com sucesso! " + emoji.happy);

				document.getElementById("liberar" + idatividade).classList.remove("hidden");
				document.getElementById("bloquear" + idatividade).classList.add("hidden");
			} else {
				Swal.error(response.value + " " + emoji.sad);
			}
		}, "idatividade", idatividade, "idturma", idturma);
	}

	function bloquearReq(idliberacao){
	}
</script>
