<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />

<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
			<label for="ano">Ano</label>
			<input id="ano" name="ano" min="2000" max="9999" class="form-control" type="number" value="<%=(item ? item.ano : ano) %>" />
		</div>
	</div>

	<div class="col-sm-3">
		<div class="form-group">
			<label for="serie">Série</label>
			<select id="serie" name="serie" class="form-control">
				<option value="">Selecione...</option>
				<option value="1" <%-((item && item.serie === 1) ? 'selected="selected"' : '') %>>1º</option>
				<option value="2" <%-((item && item.serie === 2) ? 'selected="selected"' : '') %>>2º</option>
				<option value="3" <%-((item && item.serie === 3) ? 'selected="selected"' : '') %>>3º</option>
				<option value="4" <%-((item && item.serie === 4) ? 'selected="selected"' : '') %>>4º</option>
				<option value="5" <%-((item && item.serie === 5) ? 'selected="selected"' : '') %>>5º</option>
			</select>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="form-group">
			<label for="sala">Sala</label>
			<input id="sala" name="sala" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.sala : "") %>" />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<label for="idescola">Escola</label>
		<div class="form-group">
			<div class="cb-search">
				<select id="idescola" name="idescola" class="form-control" size="1">
					<option value="">Selecione...</option>
					<% for (let i = 0; i < escolas.length; i++) { %>
					<option value="<%= escolas[i].id %>" <%-((item && item.idescola === escolas[i].id) ? 'selected="selected"' : '') %>><%= escolas[i].nome %></option>
					<% } %>
				</select>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="form-group">
			<label for="nome">Nome</label>
			<input id="nome" name="nome" class="form-control" type="text" maxlength="100" value="<%=(item ? item.nome : "") %>" />
		</div>
	</div>
</div>

<hr />

<h2 class="my-4">Usuários</h2>

<div class="row">
	<div class="col-sm-8 mb-3">
		<div class="cb-search">
			<select id="idusuario" name="idusuario" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < usuarios.length; i++) { %>
				<option value="<%= usuarios[i].id %>"><%= usuarios[i].nome %></option>
				<% } %>
			</select>
		</div>
	</div>

	<div class="col-sm-4 mb-3">
		<button type="button" onclick="adicionarUsuario()" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Adicionar</button>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-flush table-striped table-hover no-footer mb-0">
		<thead>
			<tr>
				<th class="col-min"></th>
				<th>Nome</th>
				<th class="col-min">Professor</th>
			</tr>
		</thead>
		<tbody id="tabelabody">
			<% if (item && item.usuarios) { for (let i = 0; i < item.usuarios.length; i++) { const usuario = item.usuarios[i]; %>
			<tr>
				<td class="col-min">
					<button title="Excluir" type="button" onclick="removerUsuario(this)" class="btn btn-sm btn-outline-danger"><i class="fa fa-fw fa-times"></i></button>
					<input type="hidden" name="idsusuario" value="<%= usuario.idusuario %>" />
				</td>
				<td>
					<%= usuario.nome %>
				</td>
				<td class="col-min">
					<select class="form-control professor" name="professores">
						<option value="0"></option>
						<option value="1" <%- (usuario.professor ? 'selected="selected"' : '' ) %>>Professor</option>
					</select>
				</td>
			</tr>
			<% } } %>
		</tbody>
	</table>
</div>

<%- contentFor("styles") %>
<style class="text/css">
	.professor {
		width: 7rem;
		max-width: 7rem;
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	prepareCbSearch(document.getElementById("idusuario"));
	prepareCbSearch(document.getElementById("idescola"));

	function adicionarUsuario() {
		if (JsonWebApi.active)
			return;

		const id = parseInt($("#idusuario").val());

		if (!id)
			return;

		$("#tabelabody").append(`<tr>
			<td>
				<button title="Excluir" type="button" onclick="removerUsuario(this)" class="btn btn-sm btn-outline-danger"><i class="fa fa-fw fa-times"></i></button>
				<input type="hidden" name="idsusuario" value="${id}" />
			</td>
			<td>
				${$("#idusuario option:selected").html()}
			</td>
			<td class="col-min">
				<select class="form-control professor" name="professores">
					<option value="0"></option>
					<option value="1">Professor</option>
				</select>
			</td>
		</tr>`);
	}

	function removerUsuario(btn) {
		if (JsonWebApi.active)
			return;

		$(btn.parentNode.parentNode).remove();
	}

	$("#form").validate({
		rules: {
			idescola: {
				required: true
			},
			ano: {
				required: true
			},
			serie: {
				required: true
			},
			nome: {
				required: true
			},
			sala: {
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Swal.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/turma/editar", form, function (response) {
				if (response.success)
					Swal.success("Turma alterada com sucesso! " + emoji.happy);
				else
					Swal.error(response.value + " " + emoji.sad);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/turma/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					$("#tabelabody").empty();
					Swal.success("Turma criada com sucesso! " + emoji.happy);
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
