<%
	let cores = [
		"primary",
		"secondary",
		"success",
		"info",
		"warning",
		"danger",
		"dark"
	];
%>

<% if (!lista.length) { %>
<p class="text-center">Você ainda não tem turmas atribuídas. 😢</p>
<% } else { %>

<div class="row">

<% for (let i = 0; i < lista.length; i++) { const cor = cores[i % 7], turma = lista[i]; %>

<div class="col-xl-4 col-md-6 mb-4">
	<div class="card border-left-<%- cor %> shadow h-100 py-2">
		<div class="card-body">
			<div class="row no-gutters align-items-center">
				<div class="col mr-2">
					<div class="text-xs font-weight-bold text-<%- cor %> text-uppercase mb-1"><%- turma.ano %> / <%= turma.nome %></div>
					<div class="h5 mb-0 font-weight-bold text-gray-800"><%= turma.serie %> - <%= turma.sala %></div>
				</div>
				<div class="col-auto">
					<i class="fas fa-book fa-2x text-gray-300"></i>
				</div>
			</div>

			<hr />

			<a href="<%- root %>/turma/alterar?id=<%- turma.id %>" class="btn btn-sm btn-outline-<%- cor %>"><i class="fa fa-fw fa-calendar-check"></i> Gerenciar turma</a>
		</div>
	</div>
</div>

<% } %>

</div>

<% } %>
